<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>FontsFree-Net-SF-Pro-Rounded-Regular.ttf</string>
		<string>AppleSDGothicNeoB.ttf</string>
		<string>AppleSDGothicNeoEB.ttf</string>
		<string>AppleSDGothicNeoH.ttf</string>
	</array>
</dict>
</plist>
